[submodule "See A Note/Score-Line"]
	path = See A Note/Score-Line
	url = https://github.com/gerdmuller/Score-Line.git
	branch = master
[submodule "See A Note/MusicCalculator"]
	path = See A Note/MusicCalculator
	url = https://github.com/gerdmuller/MusicCalculator.git
	branch = master
